.sapMInput.myCustomCSSClass .sapMInputBaseInner {
    text-transform: uppercase;
}

.customCellImageBackground {
	color: #fff;
	background-image: url("../img/image3.jpg");
	background-size: 100% auto;
	background-position: 0 50%;
    border-radius: 4%;
}

.ImageBackground {
	color: #fff;
	background-image: url("../img/image5.jfif");
	background-size: 100% auto;
	background-position: 0 50%;
}